---
import type { FileTree } from 'utils';
import Box from '@components/Box.astro';

const { files, indent = 0, step = 1 } = Astro.props as {
    files: FileTree,
    indent?: number,
    step?: number
};
---

{Object.entries(files).map(([name, value]) => 
    <>
        { value ? // Folder
            <div class="writeup_entry_file" style={`margin-left:${indent}em`}>
                <details>
                    <summary>{name}</summary>
                    <Astro.self files={value} indent={indent+step} step={step} />
                </details>
            </div>
            : // Normal file
            <div class="writeup_entry_file" style={`margin-left:${indent}em`}>
                {name}
            </div>
        }
    </>
)}

<style>
.writeup_entry_file {
    margin: 6px;
    font-family:monospace;
    font-size: large;
    width:100%;
}
details summary {
  cursor: pointer;
}
details[open] summary::before {
  content: "[-] ";
}
details summary::before {
  content: "[+] ";
}

details {
    content: "-> "
}
</style>